= javascript_include_tag  "map_plotter"
= stylesheet_link_tag 'components/d3-circularheat/css/style.css'
= stylesheet_link_tag 'components/d3-circularheat/css/svg.css'
= javascript_include_tag 'components/d3-circularheat/js/circularHeatChart.js'
%map
